@model IEnumerable<Store.Domain.Contracts.IProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        
        @Html.ActionLink("Sign Out", "Logout", new { controller = "Account" },
           new { @class = "btn btn-default navbar-btn pull-right" })
        <h3>All Products</h3>
        @using (Ajax.BeginForm("Search", null,
            new AjaxOptions
            {
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST"
            }, new { id = "searchForm", @class = "search-form" }))
        {
            <label>Search</label>
            <input type="text" name="pattern" oninput="changed()" />
           
        }


    </div>
    <div class="panel-body" id="results">
        @Html.Partial("Search");
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new product", "Create", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Restore product", "Restore", null, new { @class = "btn btn-default" })
    </div>
</div>
<script>
    
    function changed() {
        $("#searchForm").submit();
    }
</script>